* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #e8e6e3;
	color: black;
	user-select: none;
}
@media (min-width: 1670px) {
	body {
		overflow-x: hidden;
	}
}
a {
	text-decoration: none;
	color: black;
}
ul, li {
	list-style-type: none;
}

.title {
	font-family:baskerville;
	font-weight:bold;
	font-size: 9.7vh;
	position: absolute;
	left: 80.27vh;
	top: 71.76vh;
	z-index: 2;
}
.blot {
	position: absolute;
	z-index: 1;
}
.wax {
	position: absolute;
	left: 0vh;
	top: 0vh;
	transform: rotate(0deg);
}
.wax:hover {
	cursor: pointer;
	animation: wiggleone 0.8s ease-out;
}
@keyframes wiggleone {
	0% {transform: rotate(0deg);}
	45% {transform: rotate(20deg);}
	100% {transform: rotate(0deg);}
}
.wax2 {
	position: absolute;
	left: 22vh;
	top: 43vh;
	transform: rotate(120deg);
	
}
.wax2:hover {
	cursor: pointer;
	animation: wiggletwo 0.8s ease-out;
}
@keyframes wiggletwo {
	0% {transform: rotate(120deg);}
	65% {transform: rotate(145deg);}
	100% {transform: rotate(120deg);}
}
.wax3 {
	position: absolute;
	left: 94vh;
	top: 60vh;
	z-index: 4;
}
.wax3:hover {
	cursor: pointer;
	animation: wigglethree 0.8s ease-out;
}
@keyframes wigglethree {
	0% {transform: rotate(0deg);}
	65% {transform: rotate(25deg);}
	100% {transform: rotate(0deg);}
}
.wax4 {
	position: absolute;
	left: 147vh;
	top: 99vh;
	transform: rotate(-165deg);
}
.wax4:hover {
	cursor: pointer;
	animation: wigglefour 0.8s ease-out;
}
@keyframes wigglefour {
	0% {transform: rotate(-165deg);}
	65% {transform: rotate(-185deg);}
	100% {transform: rotate(-165deg);}
}
.wax5 {
	position: absolute;
	left: 111vh;
	top: 37vh;
	z-index: 3;
}
.wax5:hover {
	cursor: pointer;
	animation: wigglefive 0.8s ease-out;
}
@keyframes wigglefive {
	0% {transform: rotate(0deg);}
	65% {transform: rotate(20deg);}
	100% {transform: rotate(0deg);}
}
.wax6 {
	position: absolute;
	left: 125vh;
	top: -3.6vh;
	transform: rotate(-79deg);
	opacity: 55%;
}
.wax6:hover {
	cursor: pointer;
	animation: wigglesix 0.8s ease-out;
}
@keyframes wigglesix {
	0% {transform: rotate(-79deg);}
	65% {transform: rotate(-99deg);}
	100% {transform: rotate(-79deg);}
}
.wax7 {
	position: absolute;
	left: 70vh;
	top: 18vh;
	transform: rotate(347deg);
}
.wax7:hover {
	cursor: pointer;
	animation: wiggleseven 0.8s ease-out;
}
@keyframes wiggleseven {
	0% {transform: rotate(347deg);}
	65% {transform: rotate(367deg);}
	100% {transform: rotate(347deg);}
}
.wax8 {
	position: absolute;
	left: 130.5vh;
	top: 52vh;
	transform: rotate(165deg);
}
.wax8:hover {
	cursor: pointer;
	animation: wiggleeight 0.8s ease-out;
}
@keyframes wiggleeight {
	0% {transform: rotate(165deg);}
	65% {transform: rotate(185deg);}
	100% {transform: rotate(165deg);}
}
.contact {
	font-family: baskerville;
	font-weight: normal;
	font-size: 18.75px;
	position: fixed;
	bottom: 6vh;
	line-height: 20px;
	z-index: 5;
	background-color: #e8e6e3;
	padding: 1.85vh;
}
.contact a:hover {
	font-weight: bold;
}
.behind_the_process {
	font-size: 1.74vh;
	line-height: 1.85vh;
	position: absolute;
	left: 46.94vh;
	top: 116.85vh;
	width: 40.37vh;
}
.behind_blot {
	font-size: 1.74vh;
	line-height: 1.85vh;
	position: absolute;
	left: 90.56vh;
	top: 116.85vh;
	width: 40.37vh;
}
.bio {
	font-size: 1.74vh;
	line-height: 1.85vh;
	position: absolute;
	left: 46.94vh;
	top: 154.07vh;
	width: 83.98vh;
	z-index: 3;
}
.untitled {
	position: absolute;
	left: 402px;
	top: 83px;
	display: flex;
	align-items: flex-end;
	z-index: 4;
}
.front {
	z-index: 2;
}
.front:hover {
	cursor: pointer;
	animation: wiggle 1s ease-out;
}
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
}
.back {
	cursor: pointer;
	position: absolute;
	z-index: 3;
}
.back:hover {
	cursor: pointer;
}
.work_title {
	position: absolute;
	left: 640px;
	width: 300px;
	z-index: 4;
	font-family: baskerville;
}
.square {
	border-radius: 10px;
	width: 51px;
	height: 51px;
	position: absolute;
	left: 1042px;
	top: 777px;
	z-index: 4;
}
.square:hover, .square2:hover {
	cursor: pointer;
	filter: saturate(130%);
}
.rectangle {
	width: 507px;
	height: 240px;
	position: absolute;
	left: 1011px;
}
.home {
	font-family: baskerville;
	font-weight: normal;
	font-size: 18.75px;
	position: fixed;
	top: 63px;
	z-index: 5;
	background-color: #e8e6e3;
	padding: 20px;
}
.home a:hover {
	font-weight: bold;
}
.hide {
	visibility: hidden;
	z-index: 1;
}
.reveal {
	visibility: visible;
}
.form {
	position: absolute;
	display: flex;
	left: 1042px;
	top: 787px;
	z-index: 5;
}
.answers {
	position: absolute;
	left: 140px;
}
.submit {
	position: absolute;
	top: 195px;
	left: 250px;
}
button:hover {
	cursor: pointer;
	filter: saturate(290%);
}
.description {
	position: absolute;
	left: 1042px;
	top: 787px;
	z-index: 5;
	width: 437px;
	font-family: baskerville;
	font-size: 18.75px;
	line-height: 20px;
}
.square2 {
	position: absolute;
	border-radius: 10px;
	width: 51px;
	height: 51px;
	z-index: 4;
	top: 1030px;
	left: 20px;
}
.artist {
	position: absolute;
	top: 1030px;
	left: 20px;
	width: 360px;
	font-family: baskerville;
	font-size: 18.75px;
	line-height: 20px;
	z-index: 4;
}